In [2]:
# Dependencies
import pandas as pd

In [3]:
# Import datasets

summer_raw = pd.read_csv("Resources/summer.csv")
winter_raw = pd.read_csv("Resources/winter.csv")

In [4]:
summer_raw.nunique()

Year             27
City             22
Sport            43
Discipline       67
Athlete       22762
Country         147
Gender            2
Event           666
Medal             3
dtype: int64

summer_raw["Event"]

In [5]:
summer_raw["Event"]

0                    100M Freestyle
1                    100M Freestyle
2        100M Freestyle For Sailors
3        100M Freestyle For Sailors
4        100M Freestyle For Sailors
                    ...
31160                      Wg 84 KG
31161                      Wg 96 KG
31162                      Wg 96 KG
31163                      Wg 96 KG
31164                      Wg 96 KG
Name: Event, Length: 31165, dtype: object

In [6]:
summer_raw.groupby("Year").head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver
...,...,...,...,...,...,...,...,...,...
29216,2012,London,Aquatics,Diving,"BOUDIA, David",USA,Men,10M Platform,Gold
29217,2012,London,Aquatics,Diving,"QIU, Bo",CHN,Men,10M Platform,Silver
29218,2012,London,Aquatics,Diving,"DALEY, Thomas",GBR,Men,10M Platform,Bronze
29219,2012,London,Aquatics,Diving,"CHEN, Ruolin",CHN,Women,10M Platform,Gold
29220,2012,London,Aquatics,Diving,"BROBEN, Brittany",AUS,Women,10M Platform,Silver

In [9]:
summer_raw["Year"].nunique()

27

In [10]:
summer_raw["Event"].nunique()

666