In [1]:
import pandas as pd

In [3]:
summer = pd.read_csv("Resources/summer.csv")
summer.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver

In [5]:
years = summer['Year'].unique()
years

array([1896, 1900, 1904, 1908, 1912, 1920, 1924, 1928, 1932, 1936, 1948,
       1952, 1956, 1960, 1964, 1968, 1972, 1976, 1980, 1984, 1988, 1992,
       1996, 2000, 2004, 2008, 2012], dtype=int64)

In [37]:
countrycodes = pd.read_csv("resources/wikipedia-iso-country-codes.csv")
countrycodes

,English short name lower case,Alpha-2 code,Alpha-3 code,Numeric code,ISO 3166-2
0,Zimbabwe,ZW,ZWE,716.0,ISO 3166-2:ZW
1,Zambia,ZM,ZMB,894.0,ISO 3166-2:ZM
2,Yemen,YE,YEM,887.0,ISO 3166-2:YE
3,Western Sahara,EH,ESH,732.0,ISO 3166-2:EH
4,Wallis and Futuna,WF,WLF,876.0,ISO 3166-2:WF
...,...,...,...,...,...
246,Algeria,DZ,DZA,12.0,ISO 3166-2:DZ
247,Albania,AL,ALB,8.0,ISO 3166-2:AL
248,Afghanistan,AF,AFG,4.0,ISO 3166-2:AF
249,Åland Islands,AX,ALA,248.0,ISO 3166-2:AX
250,USSR,NaN,URS,NaN,NaN

In [28]:
hostcities = pd.read_csv("Resources/olympic_hosts.csv")
hosts_summer = hostcities.loc[hostcities["Type"] == "summergames"]

In [38]:
hosts = []
minpos = 0
maxpos = len(years)

for pos in range (minpos, maxpos):
    year = years[pos]
    host = hosts_summer["Country"].loc[hosts_summer["Year"] == year].values[0]
    try:
        code = countrycodes["Alpha-3 code"].loc[countrycodes["English short name lower case"] == host].values[0]
    except IndexError:
        code = ""
    prev1 = pos-1
    prev2 = pos-2
    prev3 = pos-3
    next1 = pos+1
    next2 = pos+2
    next3 = pos+3
    if prev1 >= minpos:
        prev1year = years[prev1]
    else:
        prev1year = 0
    if prev2 >= minpos:
        prev2year = years[prev2]
    else:
        prev2year = 0
    if prev3 >= minpos:
        prev3year = years[prev3]
    else:
        prev3year = 0
    if next1 < maxpos:
        next1year = years[next1]
    else:
        next1year = 0
    if next2 < maxpos:
        next2year = years[next2]
    else:
        next2year = 0
    if next3 < maxpos:
        next3year = years[next3]
    else:
        next3year = 0
    dict = {"Year": year,
           "Host": host,
           "Country": code,
           "Prev1year": prev1year,
           "Prev2year": prev2year,
           "Prev3year": prev3year,
           "Next1year": next1year,
           "Next2year": next2year,
           "Next3year": next3year}
    hosts.append(dict)

hosts

[{'Year': 1896,
  'Host': 'Greece',
  'Country': 'GRC',
  'Prev1year': 0,
  'Prev2year': 0,
  'Prev3year': 0,
  'Next1year': 1900,
  'Next2year': 1904,
  'Next3year': 1908},
 {'Year': 1900,
  'Host': 'France',
  'Country': 'FRA',
  'Prev1year': 1896,
  'Prev2year': 0,
  'Prev3year': 0,
  'Next1year': 1904,
  'Next2year': 1908,
  'Next3year': 1912},
 {'Year': 1904,
  'Host': 'United States of America',
  'Country': 'USA',
  'Prev1year': 1900,
  'Prev2year': 1896,
  'Prev3year': 0,
  'Next1year': 1908,
  'Next2year': 1912,
  'Next3year': 1920},
 {'Year': 1908,
  'Host': 'Great Britain',
  'Country': 'GBR',
  'Prev1year': 1904,
  'Prev2year': 1900,
  'Prev3year': 1896,
  'Next1year': 1912,
  'Next2year': 1920,
  'Next3year': 1924},
 {'Year': 1912,
  'Host': 'Sweden',
  'Country': 'SWE',
  'Prev1year': 1908,
  'Prev2year': 1904,
  'Prev3year': 1900,
  'Next1year': 1920,
  'Next2year': 1924,
  'Next3year': 1928},
 {'Year': 1920,
  'Host': 'Belgium',
  'Country': 'BEL',
  'Prev1year': 1912,
  'Prev2year': 1908,
  'Prev3year': 1904,
  'Next1year': 1924,
  'Next2year': 1928,
  'Next3year': 1932},
 {'Year': 1924,
  'Host': 'France',
  'Country': 'FRA',
  'Prev1year': 1920,
  'Prev2year': 1912,
  'Prev3year': 1908,
  'Next1year': 1928,
  'Next2year': 1932,
  'Next3year': 1936},
 {'Year': 1928,
  'Host': 'Netherlands',
  'Country': 'NLD',
  'Prev1year': 1924,
  'Prev2year': 1920,
  'Prev3year': 1912,
  'Next1year': 1932,
  'Next2year': 1936,
  'Next3year': 1948},
 {'Year': 1932,
  'Host': 'United States of America',
  'Country': 'USA',
  'Prev1year': 1928,
  'Prev2year': 1924,
  'Prev3year': 1920,
  'Next1year': 1936,
  'Next2year': 1948,
  'Next3year': 1952},
 {'Year': 1936,
  'Host': 'Germany',
  'Country': 'GER',
  'Prev1year': 1932,
  'Prev2year': 1928,
  'Prev3year': 1924,
  'Next1year': 1948,
  'Next2year': 1952,
  'Next3year': 1956},
 {'Year': 1948,
  'Host': 'Great Britain',
  'Country': 'GBR',
  'Prev1year': 1936,
  'Prev2year': 1932,
  'Prev3year': 1928,
  'Next1year': 1952,
  'Next2year': 1956,
  'Next3year': 1960},
 {'Year': 1952,
  'Host': 'Finland',
  'Country': 'FIN',
  'Prev1year': 1948,
  'Prev2year': 1936,
  'Prev3year': 1932,
  'Next1year': 1956,
  'Next2year': 1960,
  'Next3year': 1964},
 {'Year': 1956,
  'Host': 'Australia, Sweden',
  'Country': '',
  'Prev1year': 1952,
  'Prev2year': 1948,
  'Prev3year': 1936,
  'Next1year': 1960,
  'Next2year': 1964,
  'Next3year': 1968},
 {'Year': 1960,
  'Host': 'Italy',
  'Country': 'ITA',
  'Prev1year': 1956,
  'Prev2year': 1952,
  'Prev3year': 1948,
  'Next1year': 1964,
  'Next2year': 1968,
  'Next3year': 1972},
 {'Year': 1964,
  'Host': 'Japan',
  'Country': 'JPN',
  'Prev1year': 1960,
  'Prev2year': 1956,
  'Prev3year': 1952,
  'Next1year': 1968,
  'Next2year': 1972,
  'Next3year': 1976},
 {'Year': 1968,
  'Host': 'Mexico',
  'Country': 'MEX',
  'Prev1year': 1964,
  'Prev2year': 1960,
  'Prev3year': 1956,
  'Next1year': 1972,
  'Next2year': 1976,
  'Next3year': 1980},
 {'Year': 1972,
  'Host': 'Germany',
  'Country': 'GER',
  'Prev1year': 1968,
  'Prev2year': 1964,
  'Prev3year': 1960,
  'Next1year': 1976,
  'Next2year': 1980,
  'Next3year': 1984},
 {'Year': 1976,
  'Host': 'Canada',
  'Country': 'CAN',
  'Prev1year': 1972,
  'Prev2year': 1968,
  'Prev3year': 1964,
  'Next1year': 1980,
  'Next2year': 1984,
  'Next3year': 1988},
 {'Year': 1980,
  'Host': 'USSR',
  'Country': 'URS',
  'Prev1year': 1976,
  'Prev2year': 1972,
  'Prev3year': 1968,
  'Next1year': 1984,
  'Next2year': 1988,
  'Next3year': 1992},
 {'Year': 1984,
  'Host': 'United States of America',
  'Country': 'USA',
  'Prev1year': 1980,
  'Prev2year': 1976,
  'Prev3year': 1972,
  'Next1year': 1988,
  'Next2year': 1992,
  'Next3year': 1996},
 {'Year': 1988,
  'Host': 'Republic of Korea',
  'Country': 'PRK',
  'Prev1year': 1984,
  'Prev2year': 1980,
  'Prev3year': 1976,
  'Next1year': 1992,
  'Next2year': 1996,
  'Next3year': 2000},
 {'Year': 1992,
  'Host': 'Spain',
  'Country': 'ESP',
  'Prev1year': 1988,
  'Prev2year': 1984,
  'Prev3year': 1980,
  'Next1year': 1996,
  'Next2year': 2000,
  'Next3year': 2004},
 {'Year': 1996,
  'Host': 'United States of America',
  'Country': 'USA',
  'Prev1year': 1992,
  'Prev2year': 1988,
  'Prev3year': 1984,
  'Next1year': 2000,
  'Next2year': 2004,
  'Next3year': 2008},
 {'Year': 2000,
  'Host': 'Australia',
  'Country': 'AUS',
  'Prev1year': 1996,
  'Prev2year': 1992,
  'Prev3year': 1988,
  'Next1year': 2004,
  'Next2year': 2008,
  'Next3year': 2012},
 {'Year': 2004,
  'Host': 'Greece',
  'Country': 'GRC',
  'Prev1year': 2000,
  'Prev2year': 1996,
  'Prev3year': 1992,
  'Next1year': 2008,
  'Next2year': 2012,
  'Next3year': 0},
 {'Year': 2008,
  'Host': "People's Republic of China",
  'Country': 'CHN',
  'Prev1year': 2004,
  'Prev2year': 2000,
  'Prev3year': 1996,
  'Next1year': 2012,
  'Next2year': 0,
  'Next3year': 0},
 {'Year': 2012,
  'Host': 'Great Britain',
  'Country': 'GBR',
  'Prev1year': 2008,
  'Prev2year': 2004,
  'Prev3year': 2000,
  'Next1year': 0,
  'Next2year': 0,
  'Next3year': 0}]

,English short name lower case,Alpha-2 code,Alpha-3 code,Numeric code,ISO 3166-2
0,Zimbabwe,ZW,ZWE,716,ISO 3166-2:ZW
1,Zambia,ZM,ZMB,894,ISO 3166-2:ZM
2,Yemen,YE,YEM,887,ISO 3166-2:YE
3,Western Sahara,EH,ESH,732,ISO 3166-2:EH
4,Wallis and Futuna,WF,WLF,876,ISO 3166-2:WF
...,...,...,...,...,...
241,American Samoa,AS,ASM,16,ISO 3166-2:AS
242,Algeria,DZ,DZA,12,ISO 3166-2:DZ
243,Albania,AL,ALB,8,ISO 3166-2:AL
244,Afghanistan,AF,AFG,4,ISO 3166-2:AF
245,Åland Islands,AX,ALA,248,ISO 3166-2:AX