In [1]:
import pandas as pd

In [3]:
summer = pd.read_csv("Resources/summer.csv")
summer.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver

In [5]:
years = summer['Year'].unique()
years

array([1896, 1900, 1904, 1908, 1912, 1920, 1924, 1928, 1932, 1936, 1948,
       1952, 1956, 1960, 1964, 1968, 1972, 1976, 1980, 1984, 1988, 1992,
       1996, 2000, 2004, 2008, 2012], dtype=int64)

Year  City
1896  Athens                    151
1900  Paris                     512
1904  St Louis                  470
1908  London                    804
1912  Stockholm                 885
1920  Antwerp                  1298
1924  Paris                     884
1928  Amsterdam                 710
1932  Los Angeles               615
1936  Berlin                    875
1948  London                    814
1952  Helsinki                  889
1956  Melbourne / Stockholm     885
1960  Rome                      882
1964  Tokyo                    1010
1968  Mexico                   1031
1972  Munich                   1185
1976  Montreal                 1305
1980  Moscow                   1387
1984  Los Angeles              1459
1988  Seoul                    1546
1992  Barcelona                1705
1996  Atlanta                  1859
2000  Sydney                   2015
2004  Athens                   1998
2008  Beijing                  2042
2012  London                   1949
dtype: int64

In [10]:
hostcities = pd.read_csv("Resources/olympic_hosts.csv")
hosts_summer = hostcities.loc[hostcities["Type"] == "summergames"]

,Type,GamesUrl,Disciplines,DisciplinesList,Country,Date,Athletes,Countries,Events,City,Year
0,summergames,https://www.olympic.org/athens-1896,10,"['Athletics', 'Cycling Road', 'Cycling Track',...",Greece,06 Apr - 15 Apr,241.0,14.0,43.0,Athens,1896
1,summergames,https://www.olympic.org/paris-1900,20,"['Archery', 'Athletics', 'Basque Pelota', 'Cri...",France,14 May - 28 Oct,997.0,24.0,95.0,Paris,1900
2,summergames,https://www.olympic.org/st-louis-1904,19,"['Archery', 'Athletics', 'Basketball', 'Boxing...",United States of America,01 Jul - 23 Nov,651.0,12.0,95.0,St Louis,1904
3,summergames,https://www.olympic.org/london-1908,25,"['Archery', 'Athletics', 'Boxing', 'Cycling Tr...",Great Britain,27 Apr - 31 Oct,2008.0,22.0,110.0,London,1908
4,summergames,https://www.olympic.org/stockholm-1912,18,"['Athletics', 'Cycling Road', 'Diving', 'Eques...",Sweden,05 May - 27 Jul,2407.0,28.0,102.0,Stockholm,1912
5,summergames,https://www.olympic.org/antwerp-1920,29,"['Archery', 'Athletics', 'Boxing', 'Cycling Ro...",Belgium,20 Apr - 12 Sep,2622.0,29.0,156.0,Antwerp,1920
7,summergames,https://www.olympic.org/paris-1924,23,"['Athletics', 'Boxing', 'Cycling Road', 'Cycli...",France,04 May - 27 Jul,3088.0,44.0,126.0,Paris,1924
9,summergames,https://www.olympic.org/amsterdam-1928,20,"['Athletics', 'Boxing', 'Cycling Road', 'Cycli...",Netherlands,17 May - 12 Aug,2883.0,46.0,109.0,Amsterdam,1928
10,summergames,https://www.olympic.org/los-angeles-1932,20,"['Athletics', 'Boxing', 'Cycling Road', 'Cycli...",United States of America,30 Jul - 14 Aug,1334.0,37.0,117.0,Los Angeles,1932
13,summergames,https://www.olympic.org/berlin-1936,25,"['Athletics', 'Basketball', 'Boxing', 'Canoe S...",Germany,01 Aug - 16 Aug,3963.0,49.0,129.0,Berlin,1936
14,summergames,https://www.olympic.org/london-1948,23,"['Athletics', 'Basketball', 'Boxing', 'Canoe S...",Great Britain,29 Jul - 14 Aug,4104.0,59.0,136.0,London,1948
16,summergames,https://www.olympic.org/helsinki-1952,23,"['Athletics', 'Basketball', 'Boxing', 'Canoe S...",Finland,19 Jul - 03 Aug,4955.0,69.0,149.0,Helsinki,1952
18,summergames,https://www.olympic.org/melbourne-stockholm-1956,23,"['Athletics', 'Basketball', 'Boxing', 'Canoe S...","Australia, Sweden",22 Nov - 08 Dec,3314.0,72.0,151.0,Melbourne - Stockholm,1956
21,summergames,https://www.olympic.org/rome-1960,23,"['Athletics', 'Basketball', 'Boxing', 'Canoe S...",Italy,25 Aug - 11 Sep,5338.0,83.0,150.0,Rome,1960
23,summergames,https://www.olympic.org/tokyo-1964,25,"['Athletics', 'Basketball', 'Boxing', 'Canoe S...",Japan,10 Oct - 24 Oct,5151.0,93.0,163.0,Tokyo,1964
25,summergames,https://www.olympic.org/mexico-1968,24,"['Athletics', 'Basketball', 'Boxing', 'Canoe S...",Mexico,12 Oct - 27 Oct,5516.0,112.0,172.0,Mexico,1968
27,summergames,https://www.olympic.org/munich-1972,28,"['Archery', 'Athletics', 'Basketball', 'Boxing...",Germany,26 Aug - 11 Sep,7134.0,121.0,195.0,Munich,1972
28,summergames,https://www.olympic.org/montreal-1976,27,"['Archery', 'Athletics', 'Basketball', 'Boxing...",Canada,17 Jul - 01 Aug,6084.0,92.0,198.0,Montreal,1976
30,summergames,https://www.olympic.org/moscow-1980,27,"['Archery', 'Athletics', 'Basketball', 'Boxing...",USSR,19 Jul - 03 Aug,5179.0,80.0,203.0,Moscow,1980
33,summergames,https://www.olympic.org/los-angeles-1984,29,"['Archery', 'Athletics', 'Basketball', 'Boxing...",United States of America,28 Jul - 12 Aug,6829.0,140.0,221.0,Los Angeles,1984
34,summergames,https://www.olympic.org/seoul-1988,31,"['Archery', 'Athletics', 'Basketball', 'Boxing...",Republic of Korea,17 Sep - 02 Oct,8397.0,159.0,237.0,Seoul,1988
37,summergames,https://www.olympic.org/barcelona-1992,34,"['Archery', 'Athletics', 'Badminton', 'Basebal...",Spain,25 Jul - 09 Aug,9356.0,169.0,257.0,Barcelona,1992
39,summergames,https://www.olympic.org/atlanta-1996,37,"['Archery', 'Athletics', 'Badminton', 'Basebal...",United States of America,19 Jul - 04 Aug,10318.0,197.0,271.0,Atlanta,1996
41,summergames,https://www.olympic.org/sydney-2000,40,"['Archery', 'Athletics', 'Badminton', 'Basebal...",Australia,15 Sep - 01 Oct,10651.0,199.0,300.0,Sydney,2000
43,summergames,https://www.olympic.org/athens-2004,40,"['Archery', 'Athletics', 'Badminton', 'Basebal...",Greece,13 Aug - 29 Aug,10625.0,201.0,301.0,Athens,2004
45,summergames,https://www.olympic.org/beijing-2008,41,"['Archery', 'Athletics', 'Badminton', 'Basebal...",People's Republic of China,08 Aug - 24 Aug,10942.0,204.0,302.0,Beijing,2008
49,summergames,https://www.olympic.org/london-2012,36,"['Archery', 'Athletics', 'Badminton', 'Basketb...",Great Britain,27 Jul - 12 Aug,10568.0,204.0,302.0,London,2012
53,summergames,https://www.olympic.org/rio-2016,39,"['Archery', 'Athletics', 'Badminton', 'Basketb...",Brazil,05 Aug - 21 Aug,11238.0,207.0,306.0,Rio,2016
56,summergames,https://www.olympic.org/tokyo-2020,0,[],Japan,23 Jul - 08 Aug,NaN,NaN,NaN,Tokyo,2020
60,summergames,https://www.olympic.org/paris-2024,0,[],France,26 Jul - 11 Aug,NaN,NaN,NaN,Paris,2024
62,summergames,https://www.olympic.org/la-2028,0,[],United States of America,NaN,NaN,NaN,NaN,LA,2028

In [17]:
hosts = []
minpos = 0
maxpos = len(years)

for pos in range (minpos, maxpos):
    year = years[pos]
    host = hosts_summer["Country"].loc[hosts_summer["Year"] == year]
    prev1 = pos-1
    prev2 = pos-2
    prev3 = pos-3
    next1 = pos+1
    next2 = pos+2
    next3 = pos+3
    try:
        prev1year = years[prev1]
    except:
        prev1year = 0
    try:
        prev2year = years[prev2]
    except:
        prev2year = 0
    try:
        prev3year = years[prev3]
    except:
        prev3year = 0
    try:
        next1year = years[next1]
    except:
        next1year = 0
    try:
        next2year = years[next2]
    except:
        next2year = 0
    try:
        next3year = years[next3]
    except:
        next3year = 0
    dict = {"Year": year,
           "Host": host,
           "Prev1year": prev1year,
           "Prev2year": prev2year,
           "Prev3year": prev3year,
           "Next1year": next1year,
           "Next2year": next2year,
           "Next3year": next3year}
    hosts.append(dict)

hosts

[{'Year': 1896,
  'Host': 0    Greece
  Name: Country, dtype: object,
  'Prev1year': 2012,
  'Prev2year': 2008,
  'Prev3year': 2004,
  'Next1year': 1900,
  'Next2year': 1904,
  'Next3year': 1908},
 {'Year': 1900,
  'Host': 1    France
  Name: Country, dtype: object,
  'Prev1year': 1896,
  'Prev2year': 2012,
  'Prev3year': 2008,
  'Next1year': 1904,
  'Next2year': 1908,
  'Next3year': 1912},
 {'Year': 1904,
  'Host': 2    United States of America
  Name: Country, dtype: object,
  'Prev1year': 1900,
  'Prev2year': 1896,
  'Prev3year': 2012,
  'Next1year': 1908,
  'Next2year': 1912,
  'Next3year': 1920},
 {'Year': 1908,
  'Host': 3    Great Britain
  Name: Country, dtype: object,
  'Prev1year': 1904,
  'Prev2year': 1900,
  'Prev3year': 1896,
  'Next1year': 1912,
  'Next2year': 1920,
  'Next3year': 1924},
 {'Year': 1912,
  'Host': 4    Sweden
  Name: Country, dtype: object,
  'Prev1year': 1908,
  'Prev2year': 1904,
  'Prev3year': 1900,
  'Next1year': 1920,
  'Next2year': 1924,
  'Next3year': 1928},
 {'Year': 1920,
  'Host': 5    Belgium
  Name: Country, dtype: object,
  'Prev1year': 1912,
  'Prev2year': 1908,
  'Prev3year': 1904,
  'Next1year': 1924,
  'Next2year': 1928,
  'Next3year': 1932},
 {'Year': 1924,
  'Host': 7    France
  Name: Country, dtype: object,
  'Prev1year': 1920,
  'Prev2year': 1912,
  'Prev3year': 1908,
  'Next1year': 1928,
  'Next2year': 1932,
  'Next3year': 1936},
 {'Year': 1928,
  'Host': 9    Netherlands
  Name: Country, dtype: object,
  'Prev1year': 1924,
  'Prev2year': 1920,
  'Prev3year': 1912,
  'Next1year': 1932,
  'Next2year': 1936,
  'Next3year': 1948},
 {'Year': 1932,
  'Host': 10    United States of America
  Name: Country, dtype: object,
  'Prev1year': 1928,
  'Prev2year': 1924,
  'Prev3year': 1920,
  'Next1year': 1936,
  'Next2year': 1948,
  'Next3year': 1952},
 {'Year': 1936,
  'Host': 13    Germany
  Name: Country, dtype: object,
  'Prev1year': 1932,
  'Prev2year': 1928,
  'Prev3year': 1924,
  'Next1year': 1948,
  'Next2year': 1952,
  'Next3year': 1956},
 {'Year': 1948,
  'Host': 14    Great Britain
  Name: Country, dtype: object,
  'Prev1year': 1936,
  'Prev2year': 1932,
  'Prev3year': 1928,
  'Next1year': 1952,
  'Next2year': 1956,
  'Next3year': 1960},
 {'Year': 1952,
  'Host': 16    Finland
  Name: Country, dtype: object,
  'Prev1year': 1948,
  'Prev2year': 1936,
  'Prev3year': 1932,
  'Next1year': 1956,
  'Next2year': 1960,
  'Next3year': 1964},
 {'Year': 1956,
  'Host': 18    Australia, Sweden
  Name: Country, dtype: object,
  'Prev1year': 1952,
  'Prev2year': 1948,
  'Prev3year': 1936,
  'Next1year': 1960,
  'Next2year': 1964,
  'Next3year': 1968},
 {'Year': 1960,
  'Host': 21    Italy
  Name: Country, dtype: object,
  'Prev1year': 1956,
  'Prev2year': 1952,
  'Prev3year': 1948,
  'Next1year': 1964,
  'Next2year': 1968,
  'Next3year': 1972},
 {'Year': 1964,
  'Host': 23    Japan
  Name: Country, dtype: object,
  'Prev1year': 1960,
  'Prev2year': 1956,
  'Prev3year': 1952,
  'Next1year': 1968,
  'Next2year': 1972,
  'Next3year': 1976},
 {'Year': 1968,
  'Host': 25    Mexico
  Name: Country, dtype: object,
  'Prev1year': 1964,
  'Prev2year': 1960,
  'Prev3year': 1956,
  'Next1year': 1972,
  'Next2year': 1976,
  'Next3year': 1980},
 {'Year': 1972,
  'Host': 27    Germany
  Name: Country, dtype: object,
  'Prev1year': 1968,
  'Prev2year': 1964,
  'Prev3year': 1960,
  'Next1year': 1976,
  'Next2year': 1980,
  'Next3year': 1984},
 {'Year': 1976,
  'Host': 28    Canada
  Name: Country, dtype: object,
  'Prev1year': 1972,
  'Prev2year': 1968,
  'Prev3year': 1964,
  'Next1year': 1980,
  'Next2year': 1984,
  'Next3year': 1988},
 {'Year': 1980,
  'Host': 30    USSR
  Name: Country, dtype: object,
  'Prev1year': 1976,
  'Prev2year': 1972,
  'Prev3year': 1968,
  'Next1year': 1984,
  'Next2year': 1988,
  'Next3year': 1992},
 {'Year': 1984,
  'Host': 33    United States of America
  Name: Country, dtype: object,
  'Prev1year': 1980,
  'Prev2year': 1976,
  'Prev3year': 1972,
  'Next1year': 1988,
  'Next2year': 1992,
  'Next3year': 1996},
 {'Year': 1988,
  'Host': 34    Republic of Korea
  Name: Country, dtype: object,
  'Prev1year': 1984,
  'Prev2year': 1980,
  'Prev3year': 1976,
  'Next1year': 1992,
  'Next2year': 1996,
  'Next3year': 2000},
 {'Year': 1992,
  'Host': 37    Spain
  Name: Country, dtype: object,
  'Prev1year': 1988,
  'Prev2year': 1984,
  'Prev3year': 1980,
  'Next1year': 1996,
  'Next2year': 2000,
  'Next3year': 2004},
 {'Year': 1996,
  'Host': 39    United States of America
  Name: Country, dtype: object,
  'Prev1year': 1992,
  'Prev2year': 1988,
  'Prev3year': 1984,
  'Next1year': 2000,
  'Next2year': 2004,
  'Next3year': 2008},
 {'Year': 2000,
  'Host': 41    Australia
  Name: Country, dtype: object,
  'Prev1year': 1996,
  'Prev2year': 1992,
  'Prev3year': 1988,
  'Next1year': 2004,
  'Next2year': 2008,
  'Next3year': 2012},
 {'Year': 2004,
  'Host': 43    Greece
  Name: Country, dtype: object,
  'Prev1year': 2000,
  'Prev2year': 1996,
  'Prev3year': 1992,
  'Next1year': 2008,
  'Next2year': 2012,
  'Next3year': 0},
 {'Year': 2008,
  'Host': 45    People's Republic of China
  Name: Country, dtype: object,
  'Prev1year': 2004,
  'Prev2year': 2000,
  'Prev3year': 1996,
  'Next1year': 2012,
  'Next2year': 0,
  'Next3year': 0},
 {'Year': 2012,
  'Host': 49    Great Britain
  Name: Country, dtype: object,
  'Prev1year': 2008,
  'Prev2year': 2004,
  'Prev3year': 2000,
  'Next1year': 0,
  'Next2year': 0,
  'Next3year': 0}]