In [1]:
import pandas as pd

In [3]:
summer = pd.read_csv("Resources/summer.csv")
summer.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver

In [5]:
years = summer['Year'].unique()
years

array([1896, 1900, 1904, 1908, 1912, 1920, 1924, 1928, 1932, 1936, 1948,
       1952, 1956, 1960, 1964, 1968, 1972, 1976, 1980, 1984, 1988, 1992,
       1996, 2000, 2004, 2008, 2012], dtype=int64)

In [8]:
hosts = summer.groupby(["Year", "City"]).size()
hosts

Year  City
1896  Athens                    151
1900  Paris                     512
1904  St Louis                  470
1908  London                    804
1912  Stockholm                 885
1920  Antwerp                  1298
1924  Paris                     884
1928  Amsterdam                 710
1932  Los Angeles               615
1936  Berlin                    875
1948  London                    814
1952  Helsinki                  889
1956  Melbourne / Stockholm     885
1960  Rome                      882
1964  Tokyo                    1010
1968  Mexico                   1031
1972  Munich                   1185
1976  Montreal                 1305
1980  Moscow                   1387
1984  Los Angeles              1459
1988  Seoul                    1546
1992  Barcelona                1705
1996  Atlanta                  1859
2000  Sydney                   2015
2004  Athens                   1998
2008  Beijing                  2042
2012  London                   1949
dtype: int64