In [1]:
# Dependencies
%matplotlib notebook
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
# Import datasets

summer_raw = pd.read_csv("Resources/summer.csv")
winter_raw = pd.read_csv("Resources/winter.csv")

print(summer_raw.head(10))
print(winter_raw.head(10))

   Year    City     Sport Discipline                Athlete Country Gender  \
0  1896  Athens  Aquatics   Swimming          HAJOS, Alfred     HUN    Men
1  1896  Athens  Aquatics   Swimming       HERSCHMANN, Otto     AUT    Men
2  1896  Athens  Aquatics   Swimming      DRIVAS, Dimitrios     GRE    Men
3  1896  Athens  Aquatics   Swimming     MALOKINIS, Ioannis     GRE    Men
4  1896  Athens  Aquatics   Swimming     CHASAPIS, Spiridon     GRE    Men
5  1896  Athens  Aquatics   Swimming  CHOROPHAS, Efstathios     GRE    Men
6  1896  Athens  Aquatics   Swimming          HAJOS, Alfred     HUN    Men
7  1896  Athens  Aquatics   Swimming       ANDREOU, Joannis     GRE    Men
8  1896  Athens  Aquatics   Swimming  CHOROPHAS, Efstathios     GRE    Men
9  1896  Athens  Aquatics   Swimming          NEUMANN, Paul     AUT    Men

                        Event   Medal
0              100M Freestyle    Gold
1              100M Freestyle  Silver
2  100M Freestyle For Sailors  Bronze
3  100M Freestyle For Sailors    Gold
4  100M Freestyle For Sailors  Silver
5             1200M Freestyle  Bronze
6             1200M Freestyle    Gold
7             1200M Freestyle  Silver
8              400M Freestyle  Bronze
9              400M Freestyle    Gold
   Year      City     Sport Discipline               Athlete Country Gender  \
0  1924  Chamonix  Biathlon   Biathlon           BERTHET, G.     FRA    Men
1  1924  Chamonix  Biathlon   Biathlon        MANDRILLON, C.     FRA    Men
2  1924  Chamonix  Biathlon   Biathlon   MANDRILLON, Maurice     FRA    Men
3  1924  Chamonix  Biathlon   Biathlon       VANDELLE, André     FRA    Men
4  1924  Chamonix  Biathlon   Biathlon  AUFDENBLATTEN, Adolf     SUI    Men
5  1924  Chamonix  Biathlon   Biathlon       JULEN, Alphonse     SUI    Men
6  1924  Chamonix  Biathlon   Biathlon           JULEN, Ant.     SUI    Men
7  1924  Chamonix  Biathlon   Biathlon           VAUCHER, D.     SUI    Men
8  1924  Chamonix  Biathlon   Biathlon          BREMER, V.E.     FIN    Men
9  1924  Chamonix  Biathlon   Biathlon         ESKELINEN, A.     FIN    Men

             Event   Medal
0  Military Patrol  Bronze
1  Military Patrol  Bronze
2  Military Patrol  Bronze
3  Military Patrol  Bronze
4  Military Patrol    Gold
5  Military Patrol    Gold
6  Military Patrol    Gold
7  Military Patrol    Gold
8  Military Patrol  Silver
9  Military Patrol  Silver

In [3]:
summer_df = summer_raw
# Print first rows
summer_df.head(10)

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver
5,1896,Athens,Aquatics,Swimming,"CHOROPHAS, Efstathios",GRE,Men,1200M Freestyle,Bronze
6,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,1200M Freestyle,Gold
7,1896,Athens,Aquatics,Swimming,"ANDREOU, Joannis",GRE,Men,1200M Freestyle,Silver
8,1896,Athens,Aquatics,Swimming,"CHOROPHAS, Efstathios",GRE,Men,400M Freestyle,Bronze
9,1896,Athens,Aquatics,Swimming,"NEUMANN, Paul",AUT,Men,400M Freestyle,Gold

In [4]:
winter_df = winter_raw
# Print first rows
winter_df.head(10)

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1924,Chamonix,Biathlon,Biathlon,"BERTHET, G.",FRA,Men,Military Patrol,Bronze
1,1924,Chamonix,Biathlon,Biathlon,"MANDRILLON, C.",FRA,Men,Military Patrol,Bronze
2,1924,Chamonix,Biathlon,Biathlon,"MANDRILLON, Maurice",FRA,Men,Military Patrol,Bronze
3,1924,Chamonix,Biathlon,Biathlon,"VANDELLE, André",FRA,Men,Military Patrol,Bronze
4,1924,Chamonix,Biathlon,Biathlon,"AUFDENBLATTEN, Adolf",SUI,Men,Military Patrol,Gold
5,1924,Chamonix,Biathlon,Biathlon,"JULEN, Alphonse",SUI,Men,Military Patrol,Gold
6,1924,Chamonix,Biathlon,Biathlon,"JULEN, Ant.",SUI,Men,Military Patrol,Gold
7,1924,Chamonix,Biathlon,Biathlon,"VAUCHER, D.",SUI,Men,Military Patrol,Gold
8,1924,Chamonix,Biathlon,Biathlon,"BREMER, V.E.",FIN,Men,Military Patrol,Silver
9,1924,Chamonix,Biathlon,Biathlon,"ESKELINEN, A.",FIN,Men,Military Patrol,Silver

In [5]:
medal_counts = summer_df["Country"].value_counts()
medal_counts.head(10)

USA    4585
URS    2049
GBR    1720
FRA    1396
GER    1305
ITA    1296
AUS    1189
HUN    1079
SWE    1044
NED     851
Name: Country, dtype: int64